server:
  port: 8086
spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: umidbeknosirov832@gmail.com
    password: lgjo bucm lefm gwef
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enabled: true
            required: true




  kafka:
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.use.type.headers: true
       #spring.json.value.default.type: com.pm.nostificationservice.entity.
        spring.json.trusted.packages: "*"
