version: "2.40.3"

services:

  elasticsearch:
    image: elastic/elasticsearch:8.19.9
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms2g -Xms2g
    ports:
      - "9200:9200"
    volumes:
      - C:\Java\JAVA\REVISION\Microservice\Marketplace\infrastructure\es-data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 10s
      timeout: 5s
      retries: 10



  logstash:
    image: logstash:8.19.9
    container_name: logstash
    depends_on:
       elasticsearch:
         condition: service_healthy
       kafka:
         condition: service_healthy
    volumes:
     # - C:\Java\JAVA\REVISION\Microservice\Marketplace\infrastructure\logstash\logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
      #- /var/run/docker.sock:/var/run/docker.sock:ro
    #  - ./logstash/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
     # - ./logstash/logs:/usr/share/logstash/logs

      - ./infrastructure/logstash/pipeline:/usr/share/logstash/pipeline:ro
      - ./infrastructure/logstash/logs:/usr/share/logstash/input-logs:ro
      - ./logstash/logs:/usr/share/logstash/output-logs

    ports:
      - "9600:9600"

  kafka:
    image: bitnamilegacy/kafka:4.0.0-debian-12-r10
    container_name: kafka
    environment:
       - ALLOW_PLAINTEXT_LISTENER=yes
       - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
       - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
       - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
       - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
   #    - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
       - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
       - KAFKA_CFG_NODE_ID=0
       - KAFKA_CFG_PROCESS_ROLES=controller,broker
       - KAFKA_HEAP_OPTS=-Xms2g -Xms2g
    healthcheck:
        test: [ "CMD-SHELL", "kafka-topics.sh --bootstrap-server  localhost:9092  --list || exit 1" ]
        interval: 10s
        timeout: 10s
        retries: 5
    ports:
      - "9092:9092"
#      - "9094:9094"



  analytic-service:
    build:
      context: ./analytic-service
    container_name: "analytics-service-Market"
    depends_on:
       elasticsearch:
        condition: service_healthy
       kafka:
         condition: service_healthy

    environment:
     # - SPRING_KAFKA_PROPERTIES_SPRING_JSON_USE_TYPE_HEADERS=false
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_PROFILES_ACTIVE=docker
      #- SPRING_KAFKA_CONSUMER_PROPERTIES_SPRING_JSON_TRUSTED_PACKAGES=*
      #- SPRING_KAFKA_PROPERTIES_SPRING_JSON_VALUE_DEFAULT_TYPE=com.pm.analyticservice.kafka.UserEvent
      #- SPRING_KAFKA_CONSUMER_VALUE_DESERIALIZER=org.springframework.kafka.support.serializer.JsonDeserializer
      - SPRING_MAIN_LOG_LEVEL=DEBUG
    ports:
      - "8083:8083"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  auth-service-database:
    image: postgres:17.6
    container_name: auth-service-database
    environment:
      - POSTGRES_DB=auth-service-DB
      - POSTGRES_PASSWORD=java
      - POSTGRES_USER=postgres

    volumes:
      - C:\Java\JAVA\REVISION\Microservice\database_volumes\auth-service-DataBase:/var/marketplace/auth-service/data

    ports:
      - "5001:5432"


  auth-service:
    build:
      context: ./auth-service
    container_name: "auth-service"
    depends_on:
      - auth-service-database
      - kafka
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - JWT_SECRET=1333b5b7c1969830f7ac4c13316c4a161b2d1de0615e42d47ab7d8436ab739a4a7ba27b7
      - SPRING_DATA_REDIS_PASSWORD=java
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_DATASOURCE_PASSWORD=java
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth-service-database:5432/auth-service-DB
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_SQL_INIT_MODE=always
      #- SPRING_KAFKA_PRODUCER_PROPERTIES_SPRING_JSON_TRUSTED_PACKAGES=*
      #- SPRING_KAFKA_PROPERTIES_SPRING_JSON_USE_TYPE_HEADERS=false
      #- SPRING_KAFKA_PROPERTIES_SPRING_JSON_VALUE_DEFAULT_TYPE=com.pm.authservice.entity.UserEvent
      #- SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER= org.springframework.kafka.support.serializer.JsonSerializer

    ports:
      - "8081:8081"

  redis:
    image: bitnami/redis
    container_name: "redis"
    environment:
      - REDIS_PASSWORD=java
    ports:
      - "6379:6379"


  user-service:
    build:
      context: ./user-service
    container_name: user-service
    depends_on:
      - user-service-database
      - kafka
    environment:
      - SPRING_DATASOURCE_PASSWORD=java
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-service-DataBase:5432/users_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_MAIN_LOG_LEVEL=DEBUG
      - SPRING_SQL_INIT_MODE=always
    ports:
      - "8080:8080"


  user-service-database:
    image: postgres:17.6
    container_name: "user-service-database"
    environment:
      - POSTGRES_DB=users_db
      - POSTGRES_PASSWORD=java
      - POSTGRES_USER=postgres

    volumes:
      - C:\Java\JAVA\REVISION\Microservice\database_volumes\user-service-DataBase:/var/marketplace/user-service/data

    ports:
      - "5000:5432"

  booking-service:
    build:
      context: ./booking-service
    container_name: booking-service
    depends_on:
      - booking-service-db
      - kafka
    environment:
      - SPRING_DATASOURCE_PASSWORD=java
      - SPRING_DATASOURCE_URL=jdbc:postgresql://booking-service-db:5432/bookings_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PASSWORD=java
      - SPRING_DATA_REDIS_PORT=6379
    ports:
      - "8084:8084"

  booking-service-db:
    image: postgres:17.6
    container_name: booking-service-db
    environment:
      - POSTGRES_DB=bookings_db
      - POSTGRES_PASSWORD=java
      - POSTGRES_USER=postgres
      - SPRING_DATA_REDIS_HOST=redis
    volumes:
      - C:\Java\JAVA\REVISION\Microservice\database_volumes\booking-service-db:/var/marketplace/booking-service/data
    ports:
      - "5002:5432"

  payment-service:
    build:
      context: ./payment-service
    container_name: payment-service
    depends_on:
      - payment-service-db
      - kafka
    environment:
      - SPRING_DATASOURCE_PASSWORD=java
      - SPRING_DATASOURCE_URL=jdbc:postgresql://payment-service-db:5432/payments_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    ports:
      - "8087:8087"

  payment-service-db:
    image: postgres:17.6
    container_name: payment-service-db
    environment:
      - POSTGRES_DB=payments_db
      - POSTGRES_PASSWORD=java
      - POSTGRES_USER=postgres
    volumes:
      - C:\Java\JAVA\REVISION\Microservice\database_volumes\payment-service-db:/var/marketplace/payment-service/data
    ports:
      - "5003:5432"


  catalog-service:
    build:
      context: ./catalog-service
    container_name: catalog-service
    depends_on:
      - catalog-service-db
      - kafka
    environment:
      - SPRING_DATASOURCE_PASSWORD=java
      - SPRING_DATASOURCE_URL=jdbc:postgresql://catalog-service-db:5432/catalogs_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    ports:
      - "8085:8085"

  catalog-service-db:
    image: postgres:17.6
    container_name: catalog-service-db
    environment:
      - POSTGRES_DB=catalogs_db
      - POSTGRES_PASSWORD=java
      - POSTGRES_USER=postgres
    volumes:
      - C:\Java\JAVA\REVISION\Microservice\database_volumes\catalog-service-db:/var/marketplace/catalog-service/data
    ports:
      - "5004:5432"

  notification-service:
    build:
      context: ./notification-service
    container_name: notification-service
    depends_on:
      - notification-service-db
      - kafka
    environment:
      - SPRING_DATASOURCE_PASSWORD=java
      - SPRING_DATASOURCE_URL=jdbc:postgresql://notification-service-db:5432/notifications_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    ports:
      - "8086:8086"

  notification-service-db:
    image: postgres:17.6
    container_name: notification-service-db
    environment:
      - POSTGRES_DB=notifications_db
      - POSTGRES_PASSWORD=java
      - POSTGRES_USER=postgres
    volumes:
      - C:\Java\JAVA\REVISION\Microservice\database_volumes\notification-service-db:/var/marketplace/notification-service/data
    ports:
      - "5005:5432"

volumes:
  es-data: