version: "2.40.3"

services:

  elasticsearch:
    image: elastic/elasticsearch:8.19.9
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms2g -Xms2g
    ports:
      - "9200:9200"
    volumes:
      - C:\Java\JAVA\REVISION\Microservice\Marketplace\infrastructure\es-data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 10s
      timeout: 5s
      retries: 10


  logstash:
    image: logstash:8.19.9
    container_name: logstash
    depends_on:
       elasticsearch:
         condition: service_healthy
    volumes:
      - C:\Java\JAVA\REVISION\Microservice\Marketplace\infrastructure\logstash\logstash.conf:\Users\user\logstash\pipeline\:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "9600:9600"

  kafka:
    image: bitnamilegacy/kafka:4.0.0-debian-12-r10
    container_name: kafka
    environment:
       - ALLOW_PLAINTEXT_LISTENER=yes
       - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
       - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
       - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
       - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
       - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
       - KAFKA_CFG_NODE_ID=1
       - KAFKA_CFG_PROCESS_ROLES=controller,broker
    healthcheck:
        test: [ "CMD-SHELL", "kafka-topics.sh --bootstrap-server  localhost:9092  --list || exit 1" ]
        interval: 10s
        timeout: 10s
        retries: 5
    ports:
      - "9092:9092"
      - "9094:9094"



  analytics-service:
    build:
      context: ./analytics-service
    container_name: "analytics-service-Market"
    depends_on:
       elasticsearch:
          condition: service_healthy
       kafka:
         condition: service_healthy

    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    ports:
      - "8083:8083"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"



volumes:
  es-data: