server:
  port: 8082

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-route
              uri: http://auth-service:8081
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1


            - id: user-service-route
              uri: http://user-service:8080
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=1
                - JwtValidation