server:
  port: 8082

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: auth-service-route
              uri: http://auth-service:8081
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1


            - id: user-service-route
              uri: http://user-service:8080
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=1
                - JwtValidation

            - id: booking-service-route
              uri: http://booking-service:8084
              predicates:
                - Path=/booking/**
              filters:
                - StripPrefix=1
                - JwtValidation

            - id: catalog-service-route
              uri: http://catalog-service:8085
              predicates:
                - Path=/catalog-service/**
              filters:
                - StripPrefix=1
                - JwtValidation

            - id: payment-service-route
              uri: http://payment-service:8087
              predicates:
                - Path=/payment/**
              filters:
                - StripPrefix=1
                - JwtValidation


